<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <section class="nuestras-marcas" id="nuestrasMarcas">
            <h2 class="titulo3">Nuestras Marcas</h2>
            <div class="row text-center align-items-center mx-0">
                <div class="col-md-2 col-4">
                    <a href="productosHikvision.html"><img src="/assets/imagenes/logohikvision.png" class="img-fluid"
                            alt="Logo de hikvision" title="Logo de hikvision" loading="lazy">
                    </a>
                </div>
                <div class="col-md-2 col-4">
                    <a href="productosEzviz.html"> <img src="/assets/imagenes/logoezviz.png" class="img-fluid"
                            alt="Logo de hilook" title="Logo de ezviz" loading="lazy"></a>
                </div>
                <div class="col-md-2 col-4">
                    <a href="productosHilook.html"><img src="/assets/imagenes/logohilook.png" class="img-fluid"
                            alt="Logo de hilook" title="Logo de Alimento de Mascotas Delivery" loading="lazy">
                    </a>
                </div>
                <div class="col-md-2 col-4">
                    <a href="productosDahua.html"><img src="/assets/imagenes/logodahua.png" class="img-fluid"
                            alt="Logo de dahua" title="Logo de dahua" loading="lazy">
                    </a>
                </div>
                <div class="col-md-2 col-4">
                    <a href="productosFerreteria.html"><img src="/assets/imagenes/logoferreteria.png" class="img-fluid"
                            alt="Logo de ferreteria" title="Logo de ferreteria" loading="lazy">
                    </a>
                </div>
                <div class="col-md-2 col-4">
                    <a href="productosGigantronic.html"><img src="/assets/imagenes/logogigantronic.png"
                            class="img-fluid" alt="Logo de gigantronic" title="Logo de gigantronic" loading="lazy">
                    </a>
                </div>
            </div>
        </section>
</body>
</html>